<section>
	<div class="container"
		 *ngIf="!loading">
		<div class="row">
			<form class="form"
				  [formGroup]="form">
				<div class="d-flex">
					<div *ngFor="let type of eventsType">
						<label class='p-4'>
							<input type="checkbox"
								   class="form-check-input"
								   [value]="type"
								   (change)="onCheckboxChange($event)" />
							{{type}}
						</label>
					</div>
				</div>

			</form>

		</div>
		<app-quibic-table (viewClicked)="viewDetail($event)"
						  [items]="filteredEvents"
						  [rows]="rows"></app-quibic-table>
	</div>
</section>

<ng-template #viewDetailModal
			 let-c="close"
			 let-d="dismiss"
			 let-link='link'>
	<div class="modal-header">
		<h4 class="modal-title"
			id="modal-basic-title">{{eventDetail.year}} - {{eventDetail.type}}</h4>
		<button type="button"
				class="btn-close"
				aria-label="Close"
				(click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p> {{eventDetail.text}} </p>
	</div>
</ng-template>