<div class="row">
	<div class="col-12">
		<table class="quibic-table">
			<thead>
				<tr>
					<th *ngFor="let row of rows">{{row}}</th>
					<th *ngIf="showRow"></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of items | slice: (page-1) * pageSize : page * pageSize">
					<td *ngFor="let row of rows">{{item[row]}}</td>
					<td *ngIf="showRow"><i class="fa-solid fa-eye"></i></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<ngb-pagination *ngIf="showPaginator"
					class="d-flex justify-content-center"
					[(page)]="page"
					[pageSize]="pageSize"
					[collectionSize]="items.length"
					[maxSize]="paginatorMaxSize"></ngb-pagination>
</div>